*{
    font-family: "Poppins", sans-serif;
}
.banner{
    background-image:url(/Web-Design/Projects/Portfolio/Image/Background.jpg);
    padding: 200px 0;
    background-size: cover;
    background-repeat: no-repeat;
}
.skills-padding
{
    padding: 70px 0;
}